src/main/mule/worlddemoapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="8081_HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3bba3ecf-2983-482d-851d-31177081a455" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="WorldAPI" doc:name="HTTP Request configuration" doc:id="254d9445-21f9-4836-ac1b-59cc81c31b95" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org"/>
	</http:request-config>
	<flow name="worlddemoapiFlow" doc:id="2453cb20-b136-47da-ac77-9e9176c2cdb8" >
		<http:listener doc:name="Listener" doc:id="cf45dd8c-089e-4016-adba-97e6769b45cb" config-ref="8081_HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="41cdc71f-9ad2-4b45-9325-5c031f8cf111" config-ref="WorldAPI" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
